* {
  --font-size-ratio: 1.2;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  width: clamp(10em, 70vw, 40em);
}

h1 {
  font-size: calc(pow(var(--font-size-ratio), 4) * 1rem);
  font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: calc(pow(var(--font-size-ratio), 3) * 1rem);
}

h3 {
  font-size: calc(pow(var(--font-size-ratio), 2) * 1rem);
}

h4 {
  font-size: calc(pow(var(--font-size-ratio), 1) * 1rem);
}

a {
  color: #7f7fff;
  text-decoration: underline;
}
