* {
  --heading-fontsize-ratio: 1.2;
}

html {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
}

header {
  text-align: center;
}

main {
  width: clamp(10em, 70vw, 40em);
  margin: 0 auto;
}

footer {
  position: sticky;
  text-align: center;
  top: 100vh;
}

h1 {
  font-size: calc(pow(var(--heading-fontsize-ratio), 4) * 1rem);
  font-weight: 900;
}

h2 {
  font-size: calc(pow(var(--heading-fontsize-ratio), 3) * 1rem);
  font-weight: 700;
}

h3 {
  font-size: calc(pow(var(--heading-fontsize-ratio), 2) * 1rem);
  font-weight: 700;
}

h4 {
  font-size: calc(pow(var(--heading-fontsize-ratio), 1) * 1rem);
  font-weight: 700;
}

h5,
h6 {
  font-weight: 700;
}

a {
  color: #7f7fff;
  text-decoration: underline;
}
