<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans@wght:100..900&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Todo Items Sign in</title>
  </head>
  <body>
    <h1>Todo Items Sign in</h1>
    <a th:href="@{./sign_up.html}">Sign up</a>
    <form th:action="@{/todo_items/sign_in}" th:method="get">
      <div>
        <label for="id">ID</label><input type="text" id="id" name="id" />
      </div>
      <div>
        <label for="password">Password</label
        ><input type="password" id="password" name="password" />
      </div>
      <input type="submit" value="Sign in" />
    </form>
  </body>
</html>
